<section id="main">
  <div class="container">
    <div class="main-header">
      <h2 class="display-4 mb-3">Places to Explorer</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi numquam doloribus
        incidunt deserunt maiores eligendi officia architecto, mollitia fugiat repellat autem velit
        aliquam, aliquid magnam saepe at nesciunt ratione nisi sapiente. Aperiam vitae hic, qui sed
        nobis. Reprehenderit, ex.</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="https://images.unsplash.com/photo-1505783638529-f3fdc62e1bb1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
      <div class="col-md-6 col-sm-12 align-self-center">
        <div class="main-text">
          <h3>Beach</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quasi tempora doloremque
            reprehenderit nihil dignissimos eaque repellendus quidem non vero quo inventore illum beatae
            rerum in quibusdam, numquam culpa quisquam eius laboriosam, adipisci ex modi expedita.</p>

          <p>Libero non rerum quasi enim explicabo, obcaecati eum aspernatur cupiditate quam, nobis
            placeat, rem.</p>
          <hr>
          <span class="pull-left">July 02, 2018</span>
          <a href="javascript:;" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                                                          aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <!--/one -->

    <div class="row">
      <div class="col-md-6 col-sm-12  align-self-center">
        <div class="main-text text-right">
          <h3>Forest</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quo maiores et non nihil
            nam, commodi nulla odit eum necessitatibus beatae nemo, aliquid sunt ab ducimus. </p>

          <p>Facilis nam laboriosam eius quo modi, reprehenderit consequuntur facere doloribus cum sed
            ducimus veniam, non ut consequatur deserunt, ullam obcaecati! Dolor ex accusamus suscipit
            dolorem animi nobis. Sapiente blanditiis, molestiae ratione ducimus earum maxime!</p>
          <hr>
          <span class="pull-left">July 22, 2018</span>
          <a href="javascript:;" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                                                          aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 order-first order-lg-last">
        <img src="https://images.unsplash.com/photo-1505783638529-f3fdc62e1bb1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
    </div>
    <!--/two -->

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="https://images.unsplash.com/photo-1505783638529-f3fdc62e1bb1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
      <div class="col-md-6 col-sm-12  align-self-center">
        <div class="main-text">
          <h3>Road Trip</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quasi tempora doloremque
            reprehenderit nihil dignissimos eaque repellendus quidem non vero quo inventore illum beatae
            rerum in quibusdam, numquam culpa quisquam eius laboriosam, adipisci ex modi expedita.</p>

          <p>Libero non rerum quasi enim explicabo, obcaecati eum aspernatur cupiditate quam, nobis
            placeat, rem.</p>
          <hr>
          <span class="pull-left">July 02, 2018</span>
          <a href="javascript:;" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                                                          aria-hidden="true"></i></a>

        </div>
      </div>
    </div>
    <!--/three -->

    <div class="row">
      <div class="col-md-6 col-sm-12  align-self-center">
        <div class="main-text text-right">
          <h3>Faraway</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quo maiores et non nihil
            nam, commodi nulla odit eum necessitatibus beatae nemo, aliquid sunt ab ducimus. Facilis nam
            laboriosam eius quo modi, reprehenderit consequuntur facere doloribus cum sed ducimus
            veniam, non ut consequatur deserunt, ullam obcaecati!</p>
          <p> Dolor ex accusamus suscipit dolorem animi nobis. Sapiente blanditiis, molestiae ratione
            ducimus earum maxime!</p>
          <hr>
          <span class="pull-left">July 22, 2018</span>
          <a href="javascript:;" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                                                          aria-hidden="true"></i></a>

        </div>
      </div>
      <div class="col-md-6 col-sm-12 order-first order-lg-last">
        <img src="https://images.unsplash.com/photo-1505783638529-f3fdc62e1bb1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
      <!--/four -->
    </div>
  </div>
</section>

<!-- end of main section -->
<!-- gallery -->
<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="main-header">
        <h2 class="display-4 mb-3">Amazing Collections</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi numquam doloribus
          incidunt deserunt maiores eligendi officia architecto, mollitia fugiat repellat autem velit
          aliquam, aliquid magnam saepe at nesciunt ratione nisi sapiente. Aperiam vitae hic, qui sed
          nobis. Reprehenderit, ex.</p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <a class="img-card" href="javascript:;">
            <img src="img/gallery-02.jpg" />
          </a>
          <div class="card-content">
            <h4 class="card-title">
              <a href="javascript:;"> Monsoon
              </a>
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, assumenda.
            </p>
          </div>
          <div class="card-read-more">
            <a href="javascript:;" class="btn btn-block">
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <a class="img-card" href="javascript:;">
            <img src="img/gallery-06.jpg" />
          </a>
          <div class="card-content">
            <h4 class="card-title">
              <a href="javascript:;"> Spring
              </a>
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, mollitia?
            </p>
          </div>
          <div class="card-read-more">
            <a href="javascript:;" class="btn btn-block">
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <a class="img-card" href="javascript:;">
            <img src="img/gallery-03.jpg" />
          </a>
          <div class="card-content">
            <h4 class="card-title">
              <a href="javascript:;">Summer
              </a>
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, numquam.
            </p>
          </div>
          <div class="card-read-more">
            <a href="javascript:;" class="btn btn-block">
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <a class="img-card" href="javascript:;">
            <img src="img/gallery-01.jpg" />
          </a>
          <div class="card-content">
            <h4 class="card-title">
              <a href="javascript:;"> Autumn
              </a>
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, assumenda.
            </p>
          </div>
          <div class="card-read-more">
            <a href="javascript:;" class="btn btn-block">
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <a class="img-card" href="javascript:;">
            <img src="img/gallery-05.jpg" />
          </a>
          <div class="card-content">
            <h4 class="card-title">
              <a href="javascript:;"> Winter
              </a>
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, mollitia?
            </p>
          </div>
          <div class="card-read-more">
            <a href="javascript:;" class="btn btn-block">
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <a class="img-card" href="javascript:;">
            <img src="img/gallery-04.jpg" />
          </a>
          <div class="card-content">
            <h4 class="card-title">
              <a href="javascript:;">Unknown
              </a>
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, numquam.
            </p>
          </div>
          <div class="card-read-more">
            <a href="javascript:;" class="btn btn-block">
              Read More
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- end of gallery -->

<!-- about Us -->
<section id="about">
  <div class="container">
    <div class="row text-center">
      <div class="main-header">
        <h2 class="display-4 mb-3">Our Trip Experts</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi numquam doloribus
          incidunt deserunt maiores eligendi officia architecto, mollitia fugiat repellat autem velit
          aliquam, aliquid magnam saepe at nesciunt ratione nisi sapiente. Aperiam vitae hic, qui sed
          nobis. Reprehenderit, ex.</p>
      </div>
      <div class="col-md-4">
                    <span>
                        <img src="img/team_01.png" class="rounded-circle">
                    </span>
        <h4 class="service-heading">Chief Trip Planner</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
          architecto quo inventore harum ex magni, dicta impedit.</p>
        <div class='icon social fb'><i class='fa fa-facebook'></i></div>
        <div class='icon social tw'><i class='fa fa-twitter'></i></div>
        <div class='icon social in'><i class='fa fa-linkedin'></i></div>
      </div>
      <div class="col-md-4">
                    <span>
                        <img src="img/team_02.jpg" class="rounded-circle">
                    </span>
        <h4 class="service-heading">Chief Trip Adviser</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
          architecto quo inventore harum ex magni, dicta impedit.</p>
        <div class='icon social fb'><i class='fa fa-facebook'></i></div>
        <div class='icon social tw'><i class='fa fa-twitter'></i></div>
        <div class='icon social in'><i class='fa fa-linkedin'></i></div>
      </div>
      <div class="col-md-4">
                    <span>
                        <img src="img/team_03.jpg" class="rounded-circle">
                    </span>
        <h4 class="service-heading">Chief Trip Co-ordinator</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
          architecto quo inventore harum ex magni, dicta impedit.</p>
        <div class='icon social fb'><i class='fa fa-facebook'></i></div>
        <div class='icon social tw'><i class='fa fa-twitter'></i></div>
        <div class='icon social in'><i class='fa fa-linkedin'></i></div>
      </div>
    </div>
  </div>
</section>
<!-- end of about Us -->

<!-- contact Us -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="main-header">
        <h2 class="display-4 mb-3">Contact Us Today</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi numquam doloribus
          incidunt deserunt maiores eligendi officia architecto.</p>
      </div>

      <div class="col-md-6 col-sm-12">
        <form method="post" data-form-title="Contact Us">
          <input type="hidden" data-form-email="true">
          <div class="form-group">
            <input type="text" class="form-control" name="name" required="" placeholder="Name*"
                   data-form-field="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" required="" placeholder="Email*"
                   data-form-field="Email">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" name="phone" placeholder="Phone"
                   data-form-field="Phone">
          </div>
          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Message" rows="7"
                                      data-form-field="Message"></textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-header mb-5">Contact Us</button>
          </div>
        </form>
      </div>

      <div class="col-md-6 col-sm-12">
        <h4>Office Address - New York City</h4>
        <p>123, Street Name,
          <br>City name,
          <br>Country - Zip Code</p>

        <h4>Office Address - San Francisco</h4>
        <p>123, Street Name,
          <br>City name,
          <br>Country - Zip Code</p>
        <hr>
        <h4>Talk To Us Today</h4>
        <p>+01-123-456-7890<br>+01-789-456-7890</p>
      </div>
    </div>
  </div>
</section>
<!-- End of contact Us -->
