<ng-template [ngIf]="!isLoading && !isError">
  <div class="container my-4 py-4 mx-auto px-4 md:px-6 lg:px-12">
    <div class="relative max-w-screen-xl items-center justify-between mx-auto p-2">
      <div class="flex justify-between items-center my-1">
        <div>
          <p class="text-3xl sm:text-4xl md:text-4xl lg:text-4xl font-bold">Contracts</p>
        </div>
        <div>
          <app-main-button [buttonText]="'Add Contract'" (click)="addContract(hotelId)"></app-main-button>
        </div>
      </div>

      <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-8">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-background-gray dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Contract ID</th>
            <th scope="col" class="px-6 py-3">Status</th>
            <th scope="col" class="px-6 py-3">Start Date</th>
            <th scope="col" class="px-6 py-3">End Date</th>
            <th scope="col" class="px-6 py-3">Hotel Id</th>
            <th scope="col" class="px-6 py-3">Hotel Name</th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let contract of contracts">
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{contract.contractId}}
              </th>
              <td class="px-6 py-4">
                {{contract.contractStatus}}
              </td>
              <td class="px-6 py-4">
                {{contract.startDate}}
              </td>
              <td class="px-6 py-4">
                {{contract.endDate}}
              </td>
              <td class="px-6 py-4">
                {{contract.hotelId}}
              </td>
              <td class="px-6 py-4">
                {{contract.hotelName}}
              </td>
              <td class="px-6 py-4 justify-end">
                <app-main-small-button buttonText="View Contract" (click)="handleView(contract.contractId)"></app-main-small-button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="isLoading && !isError">
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template [ngIf]="isError">
  <app-internal-server-error></app-internal-server-error>
</ng-template>
