<ng-template [ngIf]="!isLoading && !isError">
<div class="container mx-auto mt-6">
  <div class="bg-blueGray-100 rounded-lg shadow-lg">
    <div class="bg-white px-6 py-6 rounded-t">
      <h2 class="text-blueGray-700 text-xl font-bold text-center">
        Add Markup Percentages
      </h2>
    </div>
    <div class="p-6">
      <form [formGroup]="markupForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let season of seasons" class="mb-4">
          <div [formGroupName]="'season_' + season.seasonId">
            <label class="text-blueGray-700 font-semibold my-10">{{ season.seasonName }}</label>
            <input type="number" [formControlName]="'markupPercentage_' + season.seasonId" placeholder="Enter markup percentage"
                   class="w-full border-gray-300 rounded-md mt-1 focus:ring-blue-500 focus:border-blue-500 block"
                   required>
            <div *ngIf="markupForm.get('season_' + season.seasonId + '.markupPercentage')?.invalid && markupForm.get('season_' + season.seasonId + '.markupPercentage')?.touched"
                 class="text-red-600 text-sm mt-1">Markup Percentage is required</div>
          </div>
        </div>
        <button type="submit" [disabled]="markupForm.invalid"
                class="bg-blue-500 text-white font-semibold px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
</ng-template>

<ng-template [ngIf]="isError">
  <app-internal-server-error></app-internal-server-error>
</ng-template>

<ng-template [ngIf]="isLoading && !isError">
  <app-loading-spinner></app-loading-spinner>
</ng-template>
