<div class="relative">
  <!-- Carousel items -->
  <div class="relative w-full overflow-hidden">
    <div *ngFor="let slide of slides; let i = index"
         class="relative float-left transition-transform duration-[600ms] ease-in-out"
         [class.-mr-[100%]]="activeIndex !== i"
         [class.hidden]="activeIndex !== i"
         style="backface-visibility: hidden;">
      <img [src]="slide.imageUrl" class="block w-full bg-no-repeat" alt="...">
      <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
        <h5 class="text-xl">{{ slide.label }}</h5>
        <p>{{ slide.content }}</p>
      </div>
    </div>
  </div>

  <!-- Carousel controls -->
  <button type="button"
          class="absolute bottom-0 left-0 top-0 z-10 flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
          (click)="prevSlide()">
    <span class="inline-block h-8 w-8">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </span>
    <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Previous</span>
  </button>

  <button type="button"
          class="absolute bottom-0 right-0 top-0 z-10 flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
          (click)="nextSlide()">
    <span class="inline-block h-8 w-8">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </span>
    <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Next</span>
  </button>
</div>
<div class="flex justify-between items-center mb-5 mt-5">
  <div>
    <p class="text-xl sm:text-lg md:text-xl lg:text-xl font-bold">Hotel Description</p>
    <p class="text-base sm:text-sm md:text-lg lg:text-lg">{{hotelDetails.hotelDescription}}</p>
  </div>
</div>
