$slider_height: 400px; // Define slider height
$slider_width: 600px; // Define slider width

.box-in {
  outline: 2px solid black;
  outline-offset: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  color: #555555;
}

.hr-tag{
  width: 90vw;
  color: black;
  margin-top: 20px;
}
.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.main-wrapper {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.nav-box {
  display: inline-block;
}

.box-out {
  display: table;
  height: $slider_height;
}

.box-in {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}

.slider-wrapper {
  width: 80%;
  max-width: $slider_width;
  height: $slider_height;
  overflow: hidden;
  display: inline-block;
  max-width: 100vw;

  ul {
    width: 0px;
    margin-left: -0px;
    transition: all 1s;
    margin: 0;
    padding: 0;
  }

  li {
    width: $slider_width;
    height: $slider_height;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: left;
    position: relative;
    width: 100vw;
  }

  li:hover .description {
    opacity: 1;
  }

  li:hover .bait {
    display: none;
  }

  li .bait {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    width: 20px;
    height: 20px;

    animation: pulse 3s infinite;
    -webkit-animation: pulse 3s infinite;
    -moz-animation: pulse 3s infinite;
    -o-animation: pulse 3s infinite;

    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
  }

  @keyframes pulse {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.3 );}
  }
  @-webkit-keyframes pulse {
    0%, 100% {-webkit-transform: scale(1);}
    50% {-webkit-transform: scale(1.3 );}
  }
  @-moz-keyframes pulse {
    0%, 100% {-moz-transform: scale(1);}
    50% {-moz-transform: scale(1.3 );}
  }
  @-o-keyframes pulse {
    0%, 100% {-o-transform: scale(1);}
    50% {-o-transform: scale(1.3 );}
  }
}

.description {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 53, 91, 0.9);
  transition: all 0.3s;
  display: block;
  opacity: 0;

  .title {
    color: #efefef;
    font-weight: bold;
    font-size: 1.6em;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border-bottom: 3px solid rgba(255, 165, 0, 0.8);
  }
  .teaser {
    width: 80%;
    margin: 10px auto;
    color: #efefef;
    line-height: 1.5;
    padding-bottom: 10px;
    border-bottom: 3px dashed rgba(255, 165, 0, 0.8);
  }
  .buttons-area {
    margin: 0 auto;
  }
  .buttons-area button {
    min-width: 200px;
    margin: 5px;
    padding: 5px;
    background-color: #333; // Button background color
    color: #fff; // Button text color
    border: none; // Remove button border
    cursor: pointer; // Change cursor to pointer on hover
    transition: background-color 0.3s ease; // Smooth transition for background color change

    &:hover {
      background-color: #555; // Button background color on hover
    }
  }
}

.thumbnails {
  width: 80%;
  background-color: #eee;
  margin: 0 auto;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;

  ul {
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: auto;
  }
  li {
    width: 130px;
    height: 80px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
    margin: 15px 5px;
    border: 2px solid #ddd;
    opacity: 0.8;
    transition: all 0.15s;
    position: relative;
    top: 0;
  }

  li:hover {
    box-shadow: 0px 0px 5px #999;
    cursor: pointer;
  }

  .selected, .selected:hover {
    border: 2px solid #999;
    box-shadow: 0px 0px 14px #999;
    opacity: 1;
    top: -5px;
  }
}


////////////////

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
}
.container {
  margin: 5% 0%;
  width: 100%;
}
.container-heading {
  text-align: center;
  color: #262f68;
  font-size: 25px;
  margin: 50px 0%;
}
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
}
.item-icon {
  width: 50px;
  height: 50px;
  padding: 5%;
  border-radius: 25px;
}
#map-icon {
  background-color: #ffe6df;
}
#coin-icon {
  background-color: #dff0fe;
}
#comparison-icon {
  background-color: #fcf3df;
}
#laptop-icon {
  background-color: #eff2ff;
}
.item-details {
  font-size: 17px;
  text-align: center;
  color: #7980a3;
}
