
.facility-list-1 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap to new rows */
  margin-top: 10px;
}

.stars svg {
  display: inline-block;
}

