<nav class="bg-main-purple border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a class="flex flex-wrap items-center space-x-3 rtl:space-x-reverse" href="https://flowbite.com/">
      <img alt="Travee Logo" class="h-16 w-40" src="../../../assets/images/Travee_white_logo-removebg-preview.png"/>
    </a>
    <div class="flex items-end md:order-2 space-x-3 md:space-x-4 rtl:space-x-reverse">
      <!-- Replace login and sign up buttons with user dropdown if logged in -->
      <ng-container *ngIf="isLoggedIn(); else loginButtons">
        <div class="relative">
          <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button" (click)="toggleUserDropdown()" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <img class="w-12 h-12 rounded-full" src="../../../assets/images/profile-image.png" alt="user photo">
            </button>
            <!-- Dropdown menu -->
            <div class="relative">
              <div *ngIf="userDropdownOpen" class="absolute right-0 mt-6 w-60 px-5 py-3 dark:bg-gray-800 bg-white rounded-lg shadow border dark:border-transparent">
                <ul class="space-y-3 dark:text-white">
                  <li class="font-medium">
                    <a href="#" class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700">
                      <div class="mr-3">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                      </div>
                      Account
                    </a>
                  </li>
                  <li class="font-medium">
                    <a href="#" class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700">
                      <div class="mr-3">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                      </div>
                      Setting
                    </a>
                  </li>
                  <hr class="dark:border-gray-700">
                  <li class="font-medium">
                    <a (click)="handleLogout()" class=" cursor-pointer flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-red-600">
                      <div class="mr-3 text-red-600">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                      </div>
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </ng-container>
      <!-- If not logged in, show login and sign up buttons -->
      <ng-template #loginButtons>
        <div class="flex items-end md:order-2 space-x-3 md:space-x-4 rtl:space-x-reverse">
          <app-main-small-button buttonText="Login" (click)="navigateToLogin()"></app-main-small-button>
          <app-main-small-button buttonText="Sign up" (click)="navigateToSignup()"></app-main-small-button>
        </div>
      </ng-template>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-large p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-main-purple dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a (click)="navigateToHome()"
             aria-current="page"
             class="block cursor-pointer py-2 px-3 text-white text-xl rounded md:bg-transparent md:text-white md:p-0 md:dark:text-white">Home</a>
        </li>
        <li>
          <a aria-current="page"
             class="block py-2 px-3 text-white text-xl rounded md:bg-transparent md:text-white md:p-0 md:dark:text-white"
             href="#">Hotels</a>
        </li>
        <li>
          <a aria-current="page"
             class="block py-2 px-3 text-white text-xl rounded md:bg-transparent md:text-white md:p-0 md:dark:text-white"
             href="#">About</a>
        </li>
        <li>
          <a aria-current="page"
             class="block py-2 px-3 text-white text-xl rounded md:bg-transparent md:text-white md:p-0 md:dark:text-white"
             href="#">Blog</a>
        </li>
        <li>
          <a (click)="navigateToCustomerBookings()"
             aria-current="page"
             class="block cursor-pointer py-2 px-3 text-white text-xl rounded md:bg-transparent md:text-white md:p-0 md:dark:text-white">Bookings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
