<div class="relative max-w-screen-xl items-center justify-between mx-auto p-4">
  <!-- Carousel wrapper -->
  <app-hotel-images-carousel [hotelId]="hotelDetails.hotelId"></app-hotel-images-carousel>
</div>
<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <div>
    <p class="text-xl sm:text-lg md:text-xl lg:text-xl font-bold">Hotel Description</p>
    <hr>
    <p class=" hr-tag text-base sm:text-sm md:text-lg lg:text-lg">{{hotelDetails.hotelDescription}}</p>
  </div>
</div>
<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <div>
    <p class="text-xl sm:text-lg md:text-xl lg:text-xl font-bold">Facilities</p>
    <hr>
    <p class="flex justify-center items-center hr-tag text-base sm:text-sm md:text-lg lg:text-lg"></p>
    <div class="container">
      <div class="items-container">
        <div class="item">
          <img class="item-icon" id="map-icon" src="https://img.icons8.com/plasticine/100/000000/map-marker.png">
          <p class="item-details">Plan the trip</p>
        </div>
        <div class="item">
          <img class="item-icon" id="coin-icon" src="https://img.icons8.com/ultraviolet/40/000000/expensive-2.png">
          <p class="item-details">Currency Exchange</p>
        </div>
        <div class="item">
          <img class="item-icon" id="comparison-icon" src="https://img.icons8.com/fluency/48/cat-footprint.png">
          <p class="item-details">Pets Allowed</p>
        </div>
        <div class="item">
          <img class="item-icon" id="laptop-icon2" src="https://img.icons8.com/color/48/000000/laptop--v1.png">
          <p class="item-details">Buy online and get covered instantly</p>
        </div>
        <div class="item">
          <img class="item-icon" id="coin-icon2" src="https://img.icons8.com/ultraviolet/40/000000/expensive-2.png">
          <p class="item-details">Get quotes from top rated companies</p>
        </div>
        <div class="item">
          <img class="item-icon" id="comparison-icon2" src="https://img.icons8.com/dusk/40/000000/price-comparison.png">
          <p class="item-details">Compare plans, prices, and benefits</p>
        </div>
        <div class="item">
          <img class="item-icon" id="laptop-icon" src="https://img.icons8.com/color/48/000000/laptop--v1.png">
          <p class="item-details">Buy online and get covered instantly</p>
        </div>
      </div>
    </div>
  </div>
</div>
