<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <h3>Showing prices for dates between {{ checkInDateFormatted }} and {{ checkOutDateFormatted }}</h3>

  <ng-container *ngIf="loading; else content">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>

  <ng-template #content>
    <ng-container *ngFor="let roomType of roomTypesDetails">
      <app-room-card [roomType]="roomType" [showSelectSupplements]="false" [supplements]="supplementsDetails"></app-room-card>
    </ng-container>
  </ng-template>

  <div *ngIf="error" class="text-red-500">Internal Server Error. Please try again later.</div>
</div>
