.facility-list-1 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 10px;
}

.stars svg {
  display: inline-block;
}

.address-description {
  flex-basis: 66.666%;
  padding-right: 10px; /* Add padding to the right */
}

.prices {
  padding-left: 10px; /* Remove flex-basis and change padding */
}

.prices > div {
  flex: 1; /* Add flex property */
}
