<ng-template [ngIf]="error">
  <app-internal-server-error></app-internal-server-error>
</ng-template>

<ng-template [ngIf]="!loading && !error">
  <div *ngIf="hotelDetails" class="container-padding">
    <div class="mb-4 border-gray-200 dark:border-gray-700">
      <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
          data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
          data-tabs-toggle="#default-styled-tab-content"
          id="default-styled-tab"
          role="tablist">
        <li class="me-2" role="presentation">
          <button (click)="showBookingDetails()" [class.gold-underline]="isBookingDetailsVisible"
                  aria-controls="profile" aria-selected="false"
                  class="inline-block p-4 border-b-2 rounded-t-lg"
                  data-tabs-target="#styled-profile" id="profile-styled-tab" role="tab" type="button">Booking Details
          </button>
        </li>
        <li class="me-2" role="presentation">
          <button
            [class.gold-underline]="isPaymentVisible"
            aria-controls="dashboard" aria-selected="false" class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            data-tabs-target="#styled-dashboard" id="dashboard-styled-tab" role="tab" type="button">Payment
          </button>
        </li>
        <li class="me-2" role="presentation">
          <button
            aria-controls="settings"
            aria-selected="false" class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" data-tabs-target="#styled-settings" id="settings-styled-tab"
            role="tab"
            type="button">Booking Confirmation
          </button>
        </li>
      </ul>
      <hr>
    </div>
    <div class="flex justify-between items-center mb-6">
      <div>
        <p class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold">{{hotelDetails?.hotelName}}</p>
        <p class="text-base sm:text-lg md:text-lg lg:text-xl">{{hotelDetails?.hotelStreetAddress}}
          , {{hotelDetails?.hotelPostalCode}} {{hotelDetails?.hotelCity}}, {{hotelDetails?.hotelCountry}}</p>
      </div>
    </div>

    <ng-container *ngIf="isBookingDetailsVisible">
      <app-booking-details (purchaseClicked)="handlePurchaseClicked($event)"
                           [contractId]="hotelDetails?.contractId"></app-booking-details>
    </ng-container>

    <ng-container *ngIf="isPaymentVisible">
      <app-booking-payment (bookingPlaced)="handleBookingPlaced($event)"
                           [bookingRooms]="bookingRooms"
                           [bookingSupplements]="bookingSupplements"
                           [contactDetails]="contactDetails"
                           [contractId]="hotelDetails?.contractId"
                           [discount]="discount"></app-booking-payment>
    </ng-container>

    <ng-container *ngIf="isConfirmationVisible">
      <app-booking-confirmation [bookingDetails]="confirmedBooking"></app-booking-confirmation>
    </ng-container>
  </div>
</ng-template>

<ng-template [ngIf]="loading && !error">
  <app-loading-spinner></app-loading-spinner>
</ng-template>

