<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <div class="flex flex-col sm:flex-row justify-between items-center">
    <div class="search flex flex-wrap border-1 rounded-lg bg-[#F8F8F8]">
      <input type="text" formControlName="destination" class="px-2 sm:px-4 py-2  sm:w-55 rounded-l-lg mb-2 sm:mb-0" placeholder="{{ searchForm.get('destination')?.touched && searchForm.get('destination')?.invalid ? 'Destination (required)' : 'Destination' }}">
      <input type="number" formControlName="noOfRooms" class="px-2 sm:px-4 py-2 sm:w-55 mb-2 sm:mb-0 sm:ml-2"
             placeholder="{{ searchForm.get('noOfRooms')?.touched && searchForm.get('noOfRooms')?.invalid ? 'No of Rooms (required)' : 'No of Rooms' }}"
             (change)="validateRooms()">
      <input type="number" formControlName="noOfPersons" class="px-2 sm:px-4 py-2  sm:w-55  mb-2 sm:mb-0 sm:ml-2"
             placeholder="{{ searchForm.get('noOfPersons')?.touched && searchForm.get('noOfPersons')?.invalid ? 'No of Persons (required)' : 'No of Persons' }}"
             (change)="validatePersons()">
      <input type="date" formControlName="checkIn" class="px-2 sm:px-4 py-5  sm:w-55 mb-2 sm:ml-2 sm:mb-0" placeholder="{{ searchForm.get('checkIn')?.touched && searchForm.get('checkIn')?.invalid ? 'Check In (required)' : 'Check In' }}" [min]="minCheckInDate" (change)="updateMinCheckoutDate()">
      <input type="date" formControlName="checkOut" class="px-2 sm:px-4 py-5  sm:w-55 mb-2 sm:ml-2 sm:mb-0" placeholder="{{ searchForm.get('checkOut')?.touched && searchForm.get('checkOut')?.invalid ? 'Check Out (required)' : 'Check Out' }}" [min]="minCheckOutDate">

      <button type="submit" [disabled]="searchForm.invalid" class="bg-button-gold hover:bg-black sm:w-55 text-white text-xl px-3 sm:px-5 py-2 rounded-r-lg">Search</button>
    </div>
  </div>
</form>
